<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nirrius.kvetch" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kvetch</name>
    <description>
      Relational Chat.
    </description>
    <author email="" href="http://kvetch.io">
        Nirrius Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
